[Unit]
Description="Keep device logged in sapienza wireless"
Requires=network.target
After=network.target

[Timer]
# Time between running each consecutive time
OnActiveSec=20sec
OnUnitActiveSec=2min

[Install]
WantedBy=multi-user.target
