[Unit]
Description="Keep device logged in sapienza wireless"

[Timer]
# Time between running each consecutive time
OnBootSec=0
OnUnitActiveSec=2min

[Install]
WantedBy=multi-user.target
