[Unit]
Description="Keep device logged in sapienza wireless"
After=NetworkMangaer.service network.target

[Timer]
# Time between running each consecutive time
OnBootSec=45sec
OnUnitActiveSec=2min

[Install]
WantedBy=multi-user.target
